<%= form_with model: @condition, url: employee_conditions_path, local: true do |f| %>
  <div class="field">
    <%= f.label :temperature %><br />
    <%= f.text_field :temperature %>
  </div>
  <div class="field">
    <%= f.label :fingers_status_id %><br />
    <%= f.collection_select(:fingers_status_id, FingersStatus.all, :id, :name, {}) %>
  </div>
  <div class="field">
    <%= f.label :gastrointestinal_symptoms_id %><br />
    <%= f.collection_select(:gastrointestinal_symptoms_id, GastrointestinalSymptom.all, :id, :name, {}) %>
  </div>
  <div class="field">
    <%= f.label :other_symptoms %><br />
    <%= f.text_area :other_symptoms, placeholder: "他に症状があれば記入してください。" %>
  </div>
  <%= f.submit "記録する" %>
<%end%>