<%= form_with model: @employee, local: true do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :employee_number %><br />
    <%= f.text_field :employee_number %>
  </div>
  <%= f.submit "変更する" %>
<%end%>