<%= render "shared/second-header" %>

<main>
<div class="session">
<h2 class="session-title">ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

 <%= render 'shared/error_messages', model: f.object %>

  <div class="field">
    <div class="weight-bold-text">
        メールアドレス
        <span class="indispensable">必須</span>
      </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <div class="weight-bold-text">
        パスワード
        <span class="indispensable">必須</span>
      </div>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  <div class="btn-contents">
  <div class="login-btn">
    <%= f.submit "ログイン", class:"login-red-btn"%>
  </div>
  <div class="facebook-btn">
    <%= link_to "Facebookでログイン", user_facebook_omniauth_authorize_path, method: :post, class:"facebook-blue-btn"%>
  </div>
  <div class="registration-btn">
    <%= link_to '新規登録', new_user_registration_path, class:"registration-gray-btn" %>
  </div>
  </div>
<% end %>
</div>
</main>

<%= render "shared/footer" %>
